  .footer {
      width: 100%;
      position: absolute; 
      bottom: 0;
      text-align: center;
      color: white;
      background-color: #fc2976;
  }
  #footerImg {
    width: 100%;
    position: absolute; 
    bottom: 0;
    z-index: 1;
  }

  nav {
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 2;
  }
  input {
    color: #fc2976;
  }

    /* label color */
    .input-field label {
      color: #fc2976;
    }
    /* label focus color */
    .input-field input[type=text]:focus + label {
      color: #fc2976;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
      border-bottom: 1px solid #fc2976 !important;
      box-shadow: 0 1px 0 0 #fc2976;
    }
    /* valid color */
    .input-field input[type=text].valid {
      border-bottom: 1px solid #fc2976 !important;
      box-shadow: 0 1px 0 0 #fc2976;
    }
    /* invalid color */
    .input-field input[type=text].invalid {
      border-bottom: 1px solid #fc2976;
      box-shadow: 0 1px 0 0 #fc2976;
    }
    /* icon prefix focus color */
    .input-field .prefix.active {
      color: #fc2976
    }
  
  #logotext {
    color: #fc2976;
    font-size: 70px;
    margin-bottom: 20px ;
  }
  
  #plateicon {
    margin-top: 20px;
    max-height: 50px;
  }

  #navImg {
      max-height: 80px;
  }

  .container {
    border: gray;
    box-shadow: gray;
    color: white;
    max-width: 70%;
    position: absolute; top: 200px;left: 40px;right: 40px;bottom: 100px;
    z-index: 3;
  }

  .card-panel {
    border-radius: 10px;
  }

  #justPickBtn {
    background-color: #fc2976;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(153, 153, 153);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }

  #justPickBtn:hover {
    background-color: #fcacac;
<<<<<<< HEAD
  }
  @media only screen and (max-width: 491px) {
    #logotext{
      font-size: 30px;
    }
    #plateicon {
      max-height: 23px;
    }
   }
   @media only screen and (max-width: 402px) {
    #logotext{
      font-size: 25px;
    }
    #plateicon {
      max-height: 18px;
    }
   }

  /* .card-panel {
    width: 50%;
    height: 60%;
  } */


  @media only screen and (min-width: 757px) {
    #indexNav {
      height: 90px;
    }
  }

  @media only screen and (max-width: 756px) {
   #logotext{
     font-size: 40px; 
   }
   #plateicon {
     max-height: 30px;
   }
=======
>>>>>>> d369ddb1b255a7ea2ede6a04f17e0a9f59390ee1
  }
  @media only screen and (max-width: 491px) {
    #logotext{
      font-size: 30px;
    }
    #plateicon {
      max-height: 23px;
    }
   }
   @media only screen and (max-width: 402px) {
    #logotext{
      font-size: 25px;
    }
    #plateicon {
      max-height: 18px;
    }
   }

   h1 {
    color:#fc2976;
    margin-top:-90px;
    font-size:medium;
    text-align:center;
<<<<<<< HEAD
=======
    
>>>>>>> main
  /* .card-panel {
    width: 50%;
    height: 60%;
  } */


  @media only screen and (min-width: 757px) {
    #indexNav {
      height: 90px;
    }
  }

  @media only screen and (max-width: 756px) {
   #logotext{
     font-size: 40px; 
   }
   #plateicon {
     max-height: 30px;
   }
  }
  @media only screen and (max-width: 491px) {
    #logotext{
      font-size: 30px;
    }
    #plateicon {
      max-height: 23px;
    }
   }
   @media only screen and (max-width: 402px) {
    #logotext{
      font-size: 25px;
    }
    #plateicon {
      max-height: 18px;
    }
   }